@model Meghan_CF_FinancialPortal.Models.PersonalAccount

<div class="page-header">
    <h1>
        <span class="text-muted font-weight-light">
            <i class="page-header-icon ion-erlenmeyer-flask">
            </i>Account: @Model.Name /
        </span>Balance: @Model.Balance
    </h1>
</div>

<!-- Latest transactions -->
<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Transactions</div>
        <div class="panel-heading-controls">
            <a href="@Url.Action("Create", "Transactions")" class="btn btn-xs btn-primary btn-outline btn-outline-colorless"><i class="fa fa-plus"></i> Transaction</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table" id="transTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trans in Model.Transactions)
                    {
                        <tr class="odd gradeX">
                            <td>@trans.Date.ToString("MM/dd/yyy")</td>
                            <td>@trans.Amount.ToString("C")</td>
                            <td>@trans.Description</td>
                            <td>@trans.Category.Name</td>
                            <td class="text-center">
                                <div class="btn-group" style="margin-top: 4px;">
                                    <a href="@Url.Action("Edit", "Transactions", new { id = trans.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "Transactions", new { id = trans.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- / Latest transactions -->

@section scripts
{
    <script>
        $('#transTable').DataTable();
    </script>
}
