@model Meghan_CF_FinancialPortal.Models.Household

<div class="page-header m-b-0">
    <div class="row">
        <div class="col-md-4">
            <h1><i class="page-header-icon ion-arrow-graph-up-right"></i>Household <span class="text-muted font-weight-light">Dashboard</span></h1>
        </div>
    </div>
</div>

<div class="row">
    <!-- Users -->
    <div class="col-md-12">
        <div class="panel panel-warning panel-dark">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>Members</span>
            </div>
            <div class="panel-body">
                <div class="panel-default">
                    <table class="table" id="userTable">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="valign-middle">
                            @foreach (var user in Model.Members)
                            {
                                <tr>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@user.Email</td>
                                    <td class="text-center">
                                        <div class="btn-group" style="margin-top: 4px;">
                                            <a href="@Url.Action("RemoveUserFromHousehold","Households", new { userId = user.Id })" class="btn btn-xs btn-primary btn-outline" data-toggle="tooltip" title="Remove from Household"><i class="fa fa-remove"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / Users -->
</div>

<div class="row">
    <!-- Accounts -->
    <div class="col-md-6">
        <div class="panel clearfix text-default">
            <div class="panel-title">
                <i class="panel-title-icon ion-card font-size-16 text-primary"></i> Accounts
                <div class="panel-heading-controls">
                    <a href="@Url.Action("Create","PersonalAccounts")" class="btn btn-xs btn-primary btn-outline btn-outline-colorless">Add Account</a>
                </div>
            </div>
            @foreach (var acct in Model.PersonalAccounts)
            {
                <div class="col-xs-12 p-x-3 p-y-2 b-t-1 bg-white">
                    <div class="pull-xs-right font-size-18"><small class="font-size-13">$</small><strong>@acct.Balance</strong></div>
                    <div class="font-size-15">@acct.Name</div>
                    <a href="@Url.Action("Details", "PersonalAccounts", new { id = acct.Id })" class="text-muted font-size-14">Details</a>
                </div>
            }
        </div>
    </div>
    <!-- / Accounts -->
    <!-- Budgets -->
    <div class="col-md-6">
        <div class="panel clearfix text-default">
            <div class="panel-title">
                <i class="panel-title-icon ion-social-usd font-size-16 text-primary"></i> Budgets
                <div class="panel-heading-controls">
                    <a href="@Url.Action("Create","Budgets")" class="btn btn-xs btn-primary btn-outline btn-outline-colorless">Add Budget</a>
                </div>
            </div>
            @foreach (var budget in Model.Budgets)
            {
                <div class="box m-a-0 p-x-3 p-y-2 b-t-1 bg-white">
                    <div class="box-cell valign-middle" style="width: 54px;">
                        <i class="fa fa-area-chart text-muted font-size-28"></i>
                    </div>
                    <div class="box-cell">
                        <a href="@Url.Action("Details", "Budgets", new { id = budget.Id })" class="pull-xs-right font-size-18"><small class="font-size-13">Budget Items</small></a>
                        <div class="font-size-15">@budget.Name</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- / Budgets -->
</div>

<div class="row">
    <!-- Invitations sent -->
    <div class="col-md-12">
        <div class="panel panel-primary panel-dark">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-balance-scale"></i>Invitations Sent</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-text">
                        <a href="@Url.Action("Invite", "Households")">Send Invite</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel-default">
                    <table class="table" id="invitationTable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Invite Email</th>
                                <th>Invited by</th>
                                <th>Accepted?</th>
                            </tr>
                        </thead>
                        <tbody class="valign-middle">
                            @foreach (var invite in Model.Invites)
                            {
                                <tr>
                                    <td>@invite.InviteDate.ToString("MM/dd/yyy")</td>
                                    <td>@invite.Email</td>
                                    <td>@invite.InvitedById</td>
                                    <td>@invite.HasBeenUsed.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / Invitations sent -->
</div>

@section scripts {
    @if (TempData.ContainsKey("Message"))
    {
        <script>
            $(function () {
                swal('Thank you!', '@TempData["Message"]', 'success');
            });
        </script>
    }

    @if (TempData.ContainsKey("MessageForgot"))
    {
        <script>
                $(function () {
                    swal('Password Reset Confirmed!', '@TempData["MessageForgot"]', 'success');
                });
        </script>
    }

    @if (TempData.ContainsKey("InvalidInvite"))
    {
        <script>
                $(function () {
                    swal('STOP', '@TempData["InvalidInvite"]', 'error');
                });
        </script>
    }

    @if (TempData.ContainsKey("ExpiredInvite"))
    {
        <script>
                $(function () {
                    swal('Uh oh!', '@TempData["ExpiredInvite"]', 'warning');
                });
        </script>
    }

    <script>
        $('#userTable').DataTable();
    </script>

    <script>
        $('#invitationTable').DataTable();
    </script>
}